<div class="col-lg-4 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-yellow">
    <div class="inner">
      <h3><%= customer %></h3>

      <p>Pengguna</p>
    </div>
    <div class="icon">
      <i class="ion ion-person-add"></i>
    </div>

  </div>
</div>